.mt0{
	margin-top:0px;
}
.mt5{
	margin-top:5px;
}
.mt10{
	margin-top:10px;
}
.mt15{
	margin-top:15px;
}
.mt20{
	margin-top:20px;
}
.mt25{
	margin-top:25px;
}
.mt30{
	margin-top:30px;
}
.mb0{
	margin-bottom:0px;
}
.mb5{
	margin-bottom:5px;
}
.mb10{
	margin-bottom:10px;
}
.mb15{
	margin-bottom:15px;
}
.mb20{
	margin-bottom:20px;
}
.mb25{
	margin-bottom:25px;
}
.mb30{
	margin-bottom:30px;
}
.w-auto{
	width:auto;
}
.announcement-area{
	padding: 12px;
	border-radius: 0.3rem;
	margin-top: 15px;
}
.announcement-area a, .blue-a{
	color: #337ab7;
  	text-decoration: none;
}
.announcement-area a:hover,
.announcement-area a:focus,
.blue-a:hover,
.blue-a:focus{
	color: #337ab7;
  	text-decoration: underline;
}
.bg-failed{
	color: #a94442;
	background: #f2dede; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f2dede, #ebcccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f2dede, #ebcccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f2dede, #ebcccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f2dede, #ebcccc); /* Standard syntax (must be last) */
}
.bg-pass{
	color: #3c763d;
	background: #e0edd7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e0edd7, #D3E5C5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0edd7, #D3E5C5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0edd7, #D3E5C5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0edd7, #D3E5C5); /* Standard syntax (must be last) */
}
.case-none{
	text-transform: none;
}
.case-capital{
	text-transform: capitalize;
}
.dataTables_filter input[type="search"]{
	width: auto;
}
.loader {
	margin: 0 auto;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	border-bottom: 16px solid #3498db;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}