<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title th:text="${notFound} ? 'Peserta Not Found': 'Detail Peserta'">Detail Student</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/mdb.min.css" rel="stylesheet" />
<link href="/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css' />

<!-- Theme CSS -->
<link href="/css/agency.min.css" rel="stylesheet" />
<link href="/css/custom.css" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
	<nav th:replace="header :: header" />

	<!-- Result Section -->
	<section id="search-form" style="margin-top: 50px;">
		<div class="container">
			<div class="row" th:if="${notFound} == true">
				<h3 style="margin-bottom: 50px;">Pengumuman SBMPTN</h3>
				<p th:text="'Maaf, peserta dengan nomor '+${nomor}+' tidak ditemukan'"/>
				
			</div>
			
			<div class="row" th:if="${notFound} == false">
				<h3 style="margin-bottom: 20px;" th:text="'Detail Peserta '+${student.nomor}">Detail Peserta</h3>
				<hr class="mt0 mb5"/>
				<div class="row">
               		<div class="text-center">
               			<span class="fa-stack fa-4x"> 
               				<i class="fa fa-circle fa-stack-2x "></i> 
               				<i class="fa fa-id-card fa-stack-1x fa-inverse" style="left: 0.1rem;"></i>
		                </span>
	                </div>
	                <form action="/admin/peserta/update" th:object="${student}" method="post" id="update">
	                    <div class="md-form form-group">
	                        <input type="text" id="nomor" class="form-control" name="nomor" readonly="true" th:field="*{nomor}" />
	                        <label for="nomor">Nomor Peserta:</label>
	                        <p class="help-block text-danger"></p>
	                    </div>
	                    <div class="md-form form-group">
	                        <input type="text" id="nama" class="form-control" name="nama" th:field="*{nama}" data-validation-required-message="Nama peserta diperlukan." aria-invalid="false" />
	                        <label for="nama">Nama:</label>
	                        <p class="help-block text-danger"></p>
	                    </div>
	                    <div class="form-group">
	                    	<label for="tanggal-lahir" style="color: #757575;font-weight: 700;">Tanggal Lahir:</label>
				      		<div class="input-group date">
	                        	<input style="height: 1.0rem;" type="text" id="tanggal-lahir" class="form-control" name="tanggal-lahir"  th:value="${#dates.format(student.tglLahir, 'dd/MM/yyyy')}" data-validation-required-message="Tanggal lahir diperlukan." aria-invalid="false"/>
					      		<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						    </div>
						   	<p class="help-block text-danger"></p>
	                    </div>
                        <div>
	                        <div class="form-group">
		                    	<label for="acceptance" style="color: #757575;font-weight: 700;display:block;">Pilih Universitas Penerima</label>
		                        <select name="acceptance-univ" id="acceptance-univ" class="acceptance-combobox">
									<option value="" th:selected="${student.kodeProdi} == null" >Tidak lulus SBMPTN</option>
								  	<option th:if="${student.kodeProdi} != null" th:each="university,iterationStatus: ${universities}" th:value="${university.kode}" th:text="${university.nama}" th:selected="${student.university.kode} == ${university.kode}"></option>
									<option th:if="${student.kodeProdi} == null" th:each="university,iterationStatus: ${universities}" th:value="${university.kode}" th:text="${university.nama}"></option>
								</select>
		                    </div>
		                    
		                    <div class="form-group" id="dd-prodi" th:classappend="${student.kodeProdi == null} ? hidden : ''">
		                    	<label for="acceptance" style="color: #757575;font-weight: 700; display:block;">Pilih Prodi penerima</label>
		                        <select name="acceptance-prodi" id="acceptance-prodi" class="acceptance-combobox">
		                        	<div th:if="${student.kodeProdi != null}" th:remove="tag">
		                        		<option th:each="prodi,iterationStatus: ${student.university.prodiList}" th:value="${prodi.kode}" th:text="${prodi.nama}" th:selected="${student.kodeProdi} == ${prodi.kode}"></option>
		                        	</div>
		                        	
								</select>
		                    </div>
                        </div>
	                    
	                    <div class="loader hidden" id="loading-bar"></div>
	                    <div id="alert-success" class="alert alert-success hidden mb20">
						    <strong>Sukses!</strong> Data universitas berhasil diubah.
						</div>
						  
						<div id="alert-danger" class="alert alert-danger hidden mb20">
						    <strong>Error!</strong> Terdapat kesalahan dalam mengubah data universitas.
						</div>
	                    <button id="btn-submit-update" type="submit" class="btn btn-info" style="margin-left: 0;">Simpan</button>
	                    <button type="button" th:attr="data-nomor=${student.nomor}, data-nama=${student.nama}" class="btn btn-danger" onclick="deleteStudent(this)">Hapus</button>
	                </form>
                </div>
				
			</div>

		</div>
	</section>
	
	<!-- Modal Confirm -->
    <div id="confirmModal" class="modal fade" role="dialog">
    	<div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            	
                <div class="modal-body">
                    Anda yakin ingin menghapus universitas ini?
                </div>
                <div class="modal-footer">
				    <button data-dismiss="modal" class="btn btn-danger" id="delete">Delete</button>
				    <button data-dismiss="modal" class="btn btn-default">Cancel</button>
				</div>
                
            </div>
        </div>
	  
	</div>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/mdb.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
		integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
		crossorigin="anonymous"></script>
		
	<!-- Form JavaScript -->
	<script src="/js/jqBootstrapValidation.js"></script>
	<script src="/js/custom.js"></script>
	
	<!-- Additional Script -->
	<script type="text/javascript">
		$(document).ready(function() {
			
		    $('.input-group.date').datepicker({
		        format: "dd/mm/yyyy",
		        autoclose: true,
		        todayHighlight: true
		    });
			
			$('#update input').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function($form,event) {
                    event.preventDefault(); // prevent default submit behaviour
                    // get values from FORM
                    var nomor = $("input#nomor").val();
                    var nama = $("input#nama").val();
                    var tglLahir = $("input#tanggal-lahir").val();
                    var tglLahirDate = toDate(tglLahir);
                    var kodeUniv = $('#acceptance-univ').find(":selected").val();
                    var kodeProdi = $('#acceptance-prodi').find(":selected").val();
                    if (kodeUniv.length == 0)
                    	kodeProdi = null;
                    
                    var peserta = {}
                    peserta["nomor"] = nomor;
                    peserta["nama"] = nama;
                    peserta["tglLahir"] = tglLahirDate;
                    peserta["kodeProdi"] = kodeProdi;
                    
                    $("#btn-submit-update").prop('disabled', true);
                    $('#loading-bar').removeClass('hidden');
                    $("#alert-success").addClass('hidden');
                	$("#alert-danger").addClass('hidden');
                    
                    $.ajax({
                         url: "/admin/peserta/update",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify(peserta),
                         dataType: 'json',
                         cache: false,
                         timeout: 600000,
                         success: function(data) {
                        	 $("#btn-submit-update").prop('disabled', false);
                        	 $('#loading-bar').addClass('hidden');
                             showAlert(true, data.message);

                         },
                         error: function(e) {
                        	 $("#btn-submit-update").prop('disabled', false);
                        	 $('#loading-bar').addClass('hidden');
        		             showAlert(false, e.responseText);
                             console.log("ERROR : ", e);
                         }
                  	}); 

                },
                filter: function() {
                    return $(this).is(":visible");
                }
            }); 
			
			//$('.acceptance-combobox').combobox();
			
			$("#acceptance-univ").change(function() {
				console.log($(this).val());
			    if ($(this).val().length == 0)
			    	$("#dd-prodi").addClass('hidden');
			    else
			    	fetchProdi($(this).val());
			});
			
		} );
		
		function showAlert(success, message){
        	$("#alert-success").addClass('hidden');
        	$("#alert-danger").addClass('hidden');
        	if (success){
        		$("#alert-success").removeClass('hidden');
        		$("#alert-success").html("<strong>Sukses!</strong> "+message);
        	}else{
        		$("#alert-danger").removeClass('hidden');
        		$("#alert-danger").html("<strong>Error!</strong> "+message);
        	}
        }
		
		function fetchProdi(kodeUniv){
			$("#acceptance-univ").prop('disabled', 'disabled');
			$("#dd-prodi").removeClass('hidden');
			$('#loading-bar').removeClass('hidden');
			var university = {}
            university["kode"] = kodeUniv;
			$.ajax({
		        type: "POST",
		        contentType: "application/json",
		        url: "/admin/univ/getprodi",
		        data: JSON.stringify(university),
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success: function (data) {
					$("#acceptance-univ").prop('disabled', false);
		            $('#loading-bar').addClass('hidden');
		        	//reset option values
		        	var ddProdi = $("#acceptance-prodi");
		        	ddProdi.empty();
		        	$.each( data.prodiList, function(index, prodi) {
		        		ddProdi.append($("<option></option>")
		        			     .attr("value", prodi.kode).text(prodi.nama));
					});
		        	
		            console.log("SUCCESS : ", data);

		        },
		        error: function (e) {
					$("#acceptance-univ").prop('disabled', false);
		            $('#loading-bar').addClass('hidden');
		            showAlert(false, e.responseText);
		            console.log("ERROR : ", e);

		        }
		    });
		}
		
		function deleteStudent(elem){
        	var nomorPeserta = $(elem).attr("data-nomor");
        	var namaPeserta = $(elem).attr("data-nama");
            $('#confirmModal .modal-body').html("Anda yakin ingin menghapus peserta "+nomorPeserta+" ("+namaPeserta+")?");
            $('#confirmModal').modal('show');
            var peserta = {}
            peserta["nomor"] = nomorPeserta;
            $("#confirmModal #delete" ).click(function() {
    			$('#loading-bar').removeClass('hidden');
            	$.ajax({
                    url: "/admin/peserta/delete",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(peserta),
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function(data) {
            			$('#loading-bar').addClass('hidden');
                        // Success message
                        var title = data.success ? "Success" : "Failed";
                        console.log(title + ", " + data.message);
                        showAlert(data.success, data.message);
            			window.location = "/admin/peserta";
                    },
                    error: function(e) {
            			$('#loading-bar').addClass('hidden');
                        console.log("ERROR : ", e);
                        showAlert(false, e.responseText);
                    }
             	}); 
           	}); 
        }
		
	</script>

</body>

</html>
