<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title th:text="${notFound} ? 'Peserta Not Found': 'Detail Peserta'">Detail Student</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/mdb.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css' />

<!-- Theme CSS -->
<link href="/css/agency.min.css" rel="stylesheet" />
<link href="/css/custom.css" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
	<nav th:replace="header :: header" />

	<!-- Result Section -->
	<section id="search-form" style="margin-top: 50px;">
		<div class="container">
			<div class="row" th:if="${notFound} == true">
				<h3 style="margin-bottom: 50px;">Pengumuman SBMPTN</h3>
				<p th:text="'Maaf, peserta dengan nomor '+${nomor}+' tidak ditemukan'"/>
				
			</div>
			
			<div class="row" th:if="${notFound} == false">
				<h3 style="margin-bottom: 20px;" th:text="'Detail Peserta '+${student.nomor}">Detail Peserta</h3>
				<hr class="mt0 mb5"/>
				<div class="row">
					<div class="col-md-2">
						<p>Nomor</p>
					</div>
					<div class="col-md-1 w-auto">:</div>
					<div class="col-md-7">
						<p th:text="${student.nomor}"/>
					</div>
				</div>
				<hr class="mt0 mb5"/>
				<div class="row">
					<div class="col-md-2">
						<p>Nama</p>
					</div>
					<div class="col-md-1 w-auto">:</div>
					<div class="col-md-7">
						<p th:text="${student.nama}"/>
					</div>
				</div>
				<hr class="mt0 mb5"/>
				<div class="row">
					<div class="col-md-2">
						<p>Tanggal Lahir</p>
					</div>
					<div class="col-md-1 w-auto">:</div>
					<div class="col-md-7">
						<p th:text="${#dates.format(student.tglLahir, 'dd MMMM yyyy')}"/>
					</div>
				</div>
				<hr class="mt0 mb5"/>
				<div class="row">
					<div class="col-md-2">
						<p>Umur</p>
					</div>
					<div class="col-md-1 w-auto">:</div>
					<div class="col-md-7">
						<p th:text="${student.umur}"/>
					</div>
				</div>
				
			</div>

		</div>
	</section>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/mdb.min.js"></script>
	<script src="/js/tether.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
		integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
		crossorigin="anonymous"></script>

</body>

</html>
