<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title th:text="${notFound} ? 'University Not Found': ${university.nama}">University Detail</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/mdb.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css' />
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css' />

<!-- Theme CSS -->
<link href="/css/agency.min.css" rel="stylesheet" />
<link href="/css/custom.css" rel="stylesheet" />

<!-- Data Table CSS -->
<link href="/css/datatables.min.css" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
	<nav th:replace="header :: header" />

	<!-- Result Section -->
	<section id="search-form" style="margin-top: 50px;">
		<div class="container">
			<div class="row">
				<div th:if="${notFound} == true" th:remove="tag">
					<h2 style="margin-bottom: 15px;">Error</h2>
					<p th:text="'Maaf, Universitas dengan kode '+${kodeUniv}+' tidak ditemukan.'"/>
				</div>
				<div th:if="${notFound} == false" th:remove="tag">
					<h3 th:text="${university.kode}+' - '+${university.nama}">Kode - Nama Universitas</h3>
					<a class="blue-a" th:href="${university.url}" th:text="${university.url}" style="display: block;"/>
					<a th:href="'/univ/'+${university.kode}" class="btn btn-default" style="margin-left: 0;">Lihat Prodi</a>
					
					<h4 class="mt30 mb20 case-capital">Daftar Peserta</h4>
					<table id="list-prodi-table" class="table table-striped table-bordered mt20" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nomor Peserta</th>
							<th>Nama Peserta</th>
							<th>Prodi</th>
							<th class="no-sort">Menu</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="student,iterationStatus: ${university.students}">
							<td th:text="${student.nomor}" style="vertical-align: middle;">Nomor Peserta</td>
							<td th:text="${student.nama}" style="vertical-align: middle;">Nama Peserta</td>
							<td th:text="${student.namaProdi}" style="vertical-align: middle;">Prodi</td>
							<td>
								<form class="form-inline" action="/admin/peserta/detail" method="GET">
									<input th:value="${student.nomor}" name="no-peserta" type="hidden"/>
									<button type="submit" class="btn btn-default case-capital" style="float:left; padding: .5rem 1.5rem;">Lihat Detail</button>
								</form>
							</td>
			
						</tr>
					</tbody>
				</table>
				</div>

			</div>

		</div>
	</section>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/mdb.min.js"></script>
	<script src="/js/tether.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
		integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
		crossorigin="anonymous"></script>
		
	<!-- Datatable JS -->
	<script src="/js/datatables.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#list-prodi-table').DataTable({
		    	"language":{
		    		"searchPlaceholder": "Cari Nama Universitas...",
		    		"search": '<i class="fa fa-search"></i>',
		    	},
		    	'aoColumnDefs': [{
		            'bSortable': false,
		            'aTargets': ['no-sort']
		        }]
		    });
		} );
	</script>

</body>

</html>
