<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/mdb.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />
    <!-- Theme CSS -->
    <link href="/css/agency.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <!-- Data Table CSS -->
    <link href="/css/datatables.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
      <![endif]-->
</head>

<body id="page-top" class="index">
    <nav th:replace="header :: header" />
    <!-- List Section -->
    <section id="list-form" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <h3>Daftar Universitas</h3>
                <a href="#add-form" class="btn btn-default mb20 page-scroll" style="margin-left: 0;">Tambah Universitas</a>
                <table id="list-univ-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th class="no-sort">Menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="university,iterationStatus: ${universities}">
                            <td th:text="${university.kode}" style="vertical-align: middle; text-align: center;">ID Universitas
                            </td>
                            <td th:text="${university.nama}" style="vertical-align: middle;">Nama Universitas
                            </td>
                            <td>
                            	<form class="form-inline" action="/admin/prodi" method="GET">
									<input th:value="${university.kode}" name="kode-univ" type="hidden"/>
									<button type="submit" class="btn btn-default case-capital" style="float:left; padding: .5rem 1.5rem;">Lihat Detail</button>
								</form>
                                <a th:href="'/admin/univ-peserta/'+${university.kode}" class="btn btn-info case-capital" style="padding: .5rem 1.5rem;">Lihat Peserta</a>
                                <button th:attr="data-kode=${university.kode},data-nama=${university.nama},data-url=${university.url}" class="btn btn-default case-capital" style="padding: .5rem 1.5rem;" onclick="updateUniversity(this)">Ubah</button>
                                <button th:attr="data-kode=${university.kode},data-nama=${university.nama},data-url=${university.url}" class="btn btn-danger case-capital" style="padding: .5rem 1.5rem;" onclick="deleteUniversity(this)">Hapus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Add Section -->
    <section id="add-form" style="padding-bottom: 200px;">
        <div class="container">
            <div class="row mt20">
                <h3 class="mb10">Tambah Universitas</h3>
                <div class="text-center">
                    <span class="fa-stack fa-4x"> <i
                     class="fa fa-circle fa-stack-2x text-primary"></i> <i
                     class="fa fa-university fa-stack-1x fa-inverse"
                     style="left: 0.1rem;"></i>
                  </span>
                    <h4 class="service-heading">Data Universitas</h4>
                </div>
                <form action="/univ/adds" method="post" id="add">
                    <div class="md-form form-group">
                        <input type="text" id="kode-univ" class="form-control" name="kode-univ" data-validation-required-message="Kode universitas diperlukan." aria-invalid="false" />
                        <label for="kode-univ">Kode:</label>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="md-form form-group">
                        <input type="text" id="nama-univ" class="form-control" name="nama-univ" data-validation-required-message="Nama universitas diperlukan." aria-invalid="false" />
                        <label for="nama-univ">Nama:</label>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="md-form form-group">
                        <input type="text" id="url-univ" class="form-control" name="url-univ" />
                        <label for="url-univ">Url (Opsional):</label>
                        <p class="help-block text-danger"></p>
                    </div>
                    <button type="submit" class="btn btn-default" style="margin-left: 0;">Tambah</button>
                </form>
            </div>
        </div>
    </section>
    
    <!-- Modal Alert -->
    <div class="modal fade" id="ajaxModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>This is a small modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Form Update-->
    <div id="updateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            	<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ubah Universitas</h4>
                </div>
                <div class="modal-body">
                    <div class="mb20">
                        <form action="/univ/update" method="post" id="update-form">
                            <div class="md-form form-group">
                                <input type="hidden" id="kode-univ-update" class="form-control" name="kode-univ-update" />
                            </div>
                            <div class="md-form form-group">
                                <input placeholder="Nama Universitas..." type="text" id="nama-univ-update" class="form-control" name="nama-univ-update" data-validation-required-message="Nama universitas diperlukan." aria-invalid="false" />
                                <label for="nama-univ-update">Nama:</label>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="md-form form-group">
                                <input placeholder="URL Web Universitas..." type="text" id="url-univ-update" class="form-control" name="url-univ-update" />
                                <label for="url-univ-update">Url (Opsional):
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default" style="margin-left: 0;">Simpan</button>
                        </form>
                    </div>
                    <div id="alert-success" class="alert alert-success hidden">
					    <strong>Sukses!</strong> Data universitas berhasil diubah.
					</div>
					  
					<div id="alert-danger" class="alert alert-danger hidden">
					    <strong>Error!</strong> Terdapat kesalahan dalam mengubah data universitas.
					</div>
                </div>
                
                
            </div>
        </div>
    </div>
    
    <!-- Modal Confirm -->
    <div id="confirmModal" class="modal fade" role="dialog">
    	<div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            	
                <div class="modal-body">
                    Anda yakin ingin menghapus universitas ini?
                </div>
                <div class="modal-footer">
				    <button data-dismiss="modal" class="btn btn-danger case-capital" id="delete">Delete</button>
				    <button data-dismiss="modal" class="btn btn-default case-capital">Cancel</button>
				</div>
                
            </div>
        </div>
	  
	</div>
    
    
    
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <!-- Datatable JS -->
    <script src="/js/datatables.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="/js/agency.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list-univ-table').DataTable({
                "language": {
                    "searchPlaceholder": "Cari Nama Universitas...",
                    "search": '<i class="fa fa-search"></i>',
                },
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['no-sort']
                }],
                "aoColumns": [
                	{sWidth: '5%'}, 
                	null, 
                	{sWidth: '45%'}
                ]
            });
            $('#add input').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function($form,event) {
                    event.preventDefault(); // prevent default submit behaviour
                    // get values from FORM
                    var kodeUniv = $("input#kode-univ").val();
                    var namaUniv = $("input#nama-univ").val();
                    var urlUniv = $("input#url-univ").val();
                    var university = {}
                    university["kode"] = kodeUniv;
                    university["nama"] = namaUniv;
                    university["url"] = urlUniv;
                    //console.log(kodeUniv+", "+namaUniv+", "+urlUniv);
                    $.ajax({
                         url: "/admin/univ/add",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify(university),
                         dataType: 'json',
                         cache: false,
                         timeout: 600000,
                         success: function(
                             data) {
                             // Success message
                             var title = data.success ? "Success" : "Failed";
                             console.log(title + ", " + data.message);
                             if (data.success) {
                                 document.getElementById("add").reset();
                             }
                             showAjaxPopup(title, data.message, data.success ? true : false);

                         },
                         error: function(e) {
                             console.log("ERROR : ", e);
                             showAjaxPopup("Error", e, false);
                         }
                  	});

                },
                filter: function() {
                    return $(this).is(":visible");
                }
            });
            
            $('#update-form input').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function($form,event) {
                    event.preventDefault(); // prevent default submit behaviour
                    // get values from FORM
                    var kodeUniv = $("input#kode-univ-update").val();
                    var namaUniv = $("input#nama-univ-update").val();
                    var urlUniv = $("input#url-univ-update").val();
                    var university = {}
                    university["kode"] = kodeUniv;
                    university["nama"] = namaUniv;
                    university["url"] = urlUniv;
                    //console.log(kodeUniv+", "+namaUniv+", "+urlUniv);
                    $.ajax({
                         url: "/admin/univ/update",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify(university),
                         dataType: 'json',
                         cache: false,
                         timeout: 600000,
                         success: function(data) {
                             // Success message
                             var title = data.success ? "Success" : "Failed";
                             console.log(title + ", " + data.message);
                             if (data.success) {
                                 document.getElementById("update-form").reset();
                             }
                             showAlert(data.success, data.message, true);

                         },
                         error: function(e) {
                             console.log("ERROR : ", e);
                             showAlert(false, e, false);
                         }
                  	});

                },
                filter: function() {
                    return $(this).is(":visible");
                }
            });

        });

        function showAjaxPopup(title, message, reload) {
            console.log("showAjaxPopup : " + title + ", " + message);
            $('#ajaxModal .modal-title').html(title);
            $('#ajaxModal .modal-body').html(message);
            $('#ajaxModal').modal('show');
            $('#ajaxModal').on('hidden.bs.modal', function() {
                if (reload)
                    document.location.reload(true);
            })
        }
        
        function updateUniversity(elem){
        	var kodeUniv = $(elem).attr("data-kode");
        	var namaUniv = $(elem).attr("data-nama");
        	var urlUniv = $(elem).attr("data-url");
        	$('#update-form #kode-univ-update').val(kodeUniv);
            $('#update-form #nama-univ-update').val(namaUniv);
            $('#update-form #url-univ-update').val(urlUniv);
            $('#updateModal').modal('show');
        }
        
        function deleteUniversity(elem){
        	var kodeUniv = $(elem).attr("data-kode");
        	var namaUniv = $(elem).attr("data-nama");
        	var urlUniv = $(elem).attr("data-url");
            $('#confirmModal .modal-body').html("Anda yakin ingin menghapus "+namaUniv);
            $('#confirmModal').modal('show');
            var university = {}
            university["kode"] = kodeUniv;
            university["nama"] = namaUniv;
            university["url"] = urlUniv;
            $("#confirmModal #delete" ).click(function() {
            	$.ajax({
                    url: "/admin/univ/delete",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(university),
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function(data) {
                        // Success message
                        var title = data.success ? "Success" : "Failed";
                        console.log(title + ", " + data.message);
                        document.location.reload(true);
                    },
                    error: function(e) {
                        console.log("ERROR : ", e);
                        showAjaxPopup("Failed", e, false);
                    }
             	});
           	});
        }
        
        function showAlert(success, message, reload){
        	$("#alert-success").addClass('hidden');
        	$("#alert-danger").addClass('hidden');
        	if (success){
        		$("#alert-success").removeClass('hidden');
        	}else{
        		$("#alert-danger").removeClass('hidden');
        		$("#alert-danger").html("<strong>Error!</strong> "+message);
        	}
        	
        	$('#updateModal').on('hidden.bs.modal', function() {
                if (reload)
                    document.location.reload(true);
            })
        	
        }
        
     
    </script>
</body>

</html>