<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/mdb.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />
    <!-- Theme CSS -->
    <link href="/css/agency.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <!-- Data Table CSS -->
    <link href="/css/datatables.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
      <![endif]-->
</head>

<body id="page-top" class="index">
    <nav th:replace="header :: header" />
    <!-- List Section -->
    <section id="list-form" style="margin-top: 50px;">
    	<div class="container mt10" >
			<div class="row">
				<h3>Daftar Program Studi</h3>
				<a href="#add-form" class="btn btn-info mb20 page-scroll" style="margin-left: 0;">Tambah Prodi</a>
				<div class="form-group mb0">
                	<label for="acceptance-univ" style="color: #757575;font-weight: 700; display:block;">Cari program studi berdasarkan Universitas</label>
                    <select name="acceptance-univ" id="acceptance-univ" class="acceptance-combobox">
					  	<option th:each="univ,iterationStatus: ${universities}" th:value="${univ.kode}" th:text="${univ.nama}" th:selected="${univ.kode == university.kode} ? 'true' :'false'"></option>
					</select>
                </div>
				<form action="/admin/prodi" method="get" id="search" >
					<input type="hidden" id="kode-univ" class="form-control" name="kode-univ" th:value="${university.kode}"/> 
					<button type="submit" class="btn btn-default" style="margin-left: 0;">Lihat Prodi</button>
				</form>
				
			</div>

		</div>
        <div class="container mt30">
            <div class="row">
                <table id="list-prodi-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Kode</th>
                            <th>Nama</th>
                            <th class="no-sort">Menu</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr th:each="prodi,iterationStatus: ${university.prodiList}">
							<td th:text="${prodi.kode}" style="vertical-align: middle;">ID Prodi</td>
							<td th:text="${prodi.nama}" style="vertical-align: middle;">Nama Prodi</td>
							<td>
								<a th:href="'/admin/prodi/'+${prodi.kode}" class="btn btn-info case-capital" style="padding: .5rem 1.5rem;">Lihat Detail</a>
								<button th:attr="data-kode=${prodi.kode},data-nama=${prodi.nama},data-univ=${prodi.kodeUniv}" class="btn btn-default case-capital" style="padding: .5rem 1.5rem;" onclick="updateProdi(this)">Ubah</button>
                               	<button th:attr="data-kode=${prodi.kode},data-nama=${prodi.nama},data-univ=${prodi.kodeUniv}" class="btn btn-danger case-capital" style="padding: .5rem 1.5rem;" onclick="deleteProdi(this)">Hapus</button>
							</td>
			
						</tr>
					</tbody>
                   
                </table>
            </div>
        </div>
    </section>
    <!-- Add Section -->
    <section id="add-form" style="padding-bottom: 280px;">
        <div class="container">
            <div class="row mt0">
                <h3 class="mb10" th:text="'Tambah Prodi '+${university.nama}"></h3>
                <div class="text-center">
                    <span class="fa-stack fa-4x"> <i
                     class="fa fa-circle fa-stack-2x text-primary"></i> <i
                     class="fa fa-th-large fa-stack-1x fa-inverse"
                     style="left: 0.1rem;"></i>
                  </span>
                    <h4 class="service-heading">Data Prodi</h4>
                </div>
                <form action="/admin/prodi/add" method="post" id="add">
                    <div class="md-form form-group">
                        <input type="text" id="kode-prodi" class="form-control" name="kode-prodi" data-validation-required-message="Kode prodi diperlukan." aria-invalid="false" />
                        <label for="kode-prodi">Kode:</label>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="md-form form-group">
                        <input type="text" id="nama-prodi" class="form-control" name="nama-prodi" data-validation-required-message="Nama prodi diperlukan." aria-invalid="false" />
                        <label for="nama-prodi">Nama:</label>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="loader hidden" id="loading-bar-add"></div>
                    <div id="alert-success" class="alert alert-success hidden">
					    <strong>Sukses!</strong> Prodi berhasil ditambah.
					</div>
					  
					<div id="alert-danger" class="alert alert-danger hidden">
					    <strong>Error!</strong> Terdapat kesalahan dalam menambah data prodi.
					</div>
                    <button type="submit" class="btn btn-info" style="margin-left: 0;">Tambah</button>
                </form>
                
            </div>
        </div>
    </section>
    
    <!-- Modal Alert -->
    <div class="modal fade" id="ajaxModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>This is a small modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Form Update-->
    <div id="updateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            	<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ubah Program Studi</h4>
                </div>
                <div class="modal-body">
                    <div class="mb20">
                        <form action="/admin/prodi/update" method="post" id="update-form">
                            <div class="md-form form-group">
                                <input type="hidden" id="kode-univ-update" class="form-control" name="kode-univ-update" />
                            </div>
                            <div class="md-form form-group">
                                <input placeholder="Kode Prodi..." type="text" id="kode-prodi-update" class="form-control" name="kode-prodi-update" readonly="true" />
                                <label for="kode-prodi-update">Kode Prodi:</label>
                            </div>
                            <div class="md-form form-group">
                                <input placeholder="Nama Prodi..." type="text" id="nama-prodi-update" class="form-control" name="nama-prodi-update" data-validation-required-message="Nama universitas diperlukan." aria-invalid="false" />
                                <label for="nama-prodi-update">Nama:</label>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group mb20">
			                	<label for="parent-univ" style="color: #757575;font-weight: 700; display:block;">Ubah Universitas</label>
			                    <select name="parent-univ" id="parent-univ" class="acceptance-combobox">
								  	<option th:each="univ,iterationStatus: ${universities}" th:value="${univ.kode}" th:text="${univ.nama}" th:selected="${univ.kode == university.kode} ? 'true' :'false'"></option>
								</select>
			                </div>
                            <button type="submit" class="btn btn-default" style="margin-left: 0;">Simpan</button>
                        </form>
                    </div>
                    <div class="loader hidden" id="loading-bar-update"></div>
                    <div id="alert-success" class="alert alert-success hidden">
					    <strong>Sukses!</strong> Data universitas berhasil diubah.
					</div>
					  
					<div id="alert-danger" class="alert alert-danger hidden">
					    <strong>Error!</strong> Terdapat kesalahan dalam mengubah data universitas.
					</div>
                </div>
                
                
            </div>
        </div>
    </div>
    
    <!-- Modal Confirm -->
    <div id="confirmModal" class="modal fade" role="dialog">
    	<div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            	
                <div class="modal-body">
                    Anda yakin ingin menghapus universitas ini?
                </div>
                <div class="modal-footer">
				    <button data-dismiss="modal" class="btn btn-danger case-capital" id="delete">Delete</button>
				    <button data-dismiss="modal" class="btn btn-default case-capital">Cancel</button>
				</div>
                
            </div>
        </div>
	  
	</div>
    
    
    
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <!-- Datatable JS -->
    <script src="/js/datatables.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="/js/agency.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list-prodi-table').DataTable({
                "language": {
                    "searchPlaceholder": "Cari Nama Prodi...",
                    "search": '<i class="fa fa-search"></i>',
                },
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['no-sort']
                }],
                "aoColumns": [
                	{sWidth: '5%'}, 
                	null, 
                	{sWidth: '32%'}
                ]
            });
            $("#acceptance-univ").change(function() {
			    $("#search input#kode-univ").val($(this).val());
			});
            
            $("#parent-univ").change(function() {
            	$('#update-form #kode-univ-update').val($(this).val());
			});
            
            
            $('#add input').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function($form,event) {
                    event.preventDefault(); // prevent default submit behaviour
                    // get values from FORM
                    var kodeProdi = $("#add input#kode-prodi").val();
                    var namaProdi = $("#add input#nama-prodi").val();
                    var kodeUniv = $("#search input#kode-univ").val();
                    var namaUniv = $('#acceptance-univ').find(":selected").text();
                    console.log("nama univ: "+namaUniv);
                    var prodi = {}
                    prodi["kode"] = kodeProdi;
                    prodi["nama"] = namaProdi;
                    prodi["kodeUniv"] = kodeUniv;
                    $('#loading-bar-add').removeClass('hidden');
                    $.ajax({
                         url: "/admin/prodi/add",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify(prodi),
                         dataType: 'json',
                         cache: false,
                         timeout: 600000,
                         success: function(data) {
                             $('#loading-bar-add').addClass('hidden');
                             // Success message
                             var title = data.success ? "Success" : "Failed";
                             console.log(title + ", " + data.message);
                             showAlertAdd(data.success, data.message);
                             if (data.success) {
                                 document.location.reload(true);
                             }

                         },
                         error: function(e) {
                             $('#loading-bar-add').addClass('hidden');
                             console.log("ERROR : ", e);
                             showAlertAdd(data.success, data.message);
                         }
                  	});

                },
                filter: function() {
                    return $(this).is(":visible");
                }
            });
            
            $('#update-form input').jqBootstrapValidation({
                preventSubmit: true,
                submitSuccess: function($form,event) {
                    event.preventDefault(); // prevent default submit behaviour
                    // get values from FORM
                    var kodeUniv = $("input#kode-univ-update").val();
                    var namaProdi = $("input#nama-prodi-update").val();
                    var kodeProdi = $("input#kode-prodi-update").val();
                    
                    var prodi = {}
                    prodi["kode"] = kodeProdi;
                    prodi["nama"] = namaProdi;
                    prodi["kodeUniv"] = kodeUniv;
                    
                    $('#loading-bar-update').removeClass('hidden');
                    $.ajax({
                         url: "/admin/prodi/update",
                         type: "POST",
                         contentType: "application/json",
                         data: JSON.stringify(prodi),
                         dataType: 'json',
                         cache: false,
                         timeout: 600000,
                         success: function(data) {
                             $('#loading-bar-update').addClass('hidden');
                             // Success message
                             var title = data.success ? "Success" : "Failed";
                             console.log(title + ", " + data.message);
                             if (data.success) {
                                 document.getElementById("update-form").reset();
                             }
                             showAlertModal(data.success, data.message, data.success);

                         },
                         error: function(e) {
                             $('#loading-bar-update').addClass('hidden');
                             console.log("ERROR : ", e.responseText);
                             showAlertModal(false, e.responseText, false);
                         }
                  	});

                },
                filter: function() {
                    return $(this).is(":visible");
                }
            });

        });

        function showAjaxPopup(title, message, reload) {
            console.log("showAjaxPopup : " + title + ", " + message);
            $('#ajaxModal .modal-title').html(title);
            $('#ajaxModal .modal-body').html(message);
            $('#ajaxModal').modal('show');
            $('#ajaxModal').on('hidden.bs.modal', function() {
                if (reload)
                    document.location.reload(true);
            })
        }
        
        function updateProdi(elem){
        	var kodeUniv = $(elem).attr("data-univ");
        	var namaProdi = $(elem).attr("data-nama");
        	var kodeProdi = $(elem).attr("data-kode");
        	$('#update-form #kode-univ-update').val(kodeUniv);
            $('#update-form #nama-prodi-update').val(namaProdi);
            $('#update-form #kode-prodi-update').val(kodeProdi);
            $('#updateModal').modal('show');
        }
        
        function deleteProdi(elem){
        	var kodeUniv = $(elem).attr("data-univ");
        	var namaProdi = $(elem).attr("data-nama");
        	var kodeProdi = $(elem).attr("data-kode");
            $('#confirmModal .modal-body').html("Anda yakin ingin menghapus "+namaProdi);
            $('#confirmModal').modal('show');
            var prodi = {}
            prodi["kode"] = kodeProdi;
            prodi["nama"] = namaProdi;
            prodi["kodeUniv"] = kodeUniv;
            
            $("#confirmModal #delete" ).click(function() {
            	$.ajax({
                    url: "/admin/prodi/delete",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(prodi),
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function(data) {
                        // Success message
                        var title = data.success ? "Success" : "Failed";
                        console.log(title + ", " + data.message);
                        document.location.reload(true);
                    },
                    error: function(e) {
                        console.log("ERROR : ", e);
                        showAjaxPopup("Failed", e, false);
                    }
             	});
           	});
        }
        
        function showAlertModal(success, message, reload){
        	$("#updateModal #alert-success").addClass('hidden');
        	$("#updateModal #alert-danger").addClass('hidden');
        	if (success){
        		$("#updateModal #alert-success").removeClass('hidden');
        		$("#updateModal #alert-success").html("<strong>Success!</strong> "+message);
        	}else{
        		$("#updateModal #alert-danger").removeClass('hidden');
        		$("#updateModal #alert-danger").html("<strong>Error!</strong> "+message);
        	}
        	
        	$('#updateModal').on('hidden.bs.modal', function() {
                if (reload)
                    document.location.reload(true);
            })
        	
        }
        
        function showAlertAdd(success, message){
        	$("#add-form #alert-success").addClass('hidden');
        	$("#add-form #alert-danger").addClass('hidden');
        	if (success){
        		$("#add-form #alert-success").removeClass('hidden');
        		$("#add-form #alert-success").html("<strong>Success!</strong> "+message);
        	}else{
        		$("#add-form #alert-danger").removeClass('hidden');
        		$("#add-form #alert-danger").html("<strong>Error!</strong> "+message);
        	}
        	
        }
        
     
    </script>
</body>

</html>